---
layout: layouts/base.njk
section: recipe
---

<article>
  <h1>{{ title }}</h1>

  {%- if date -%}
  <p>
    <small>
      <strong>Start Date:</strong> <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time></a>
    </small>
  </p>
  {%- endif -%}
  {%- if bottle_date -%}
  <p>
    <small>
      <strong>Bottle Condition Date:</strong> <time datetime="{{ page.bottle_date | machineDate }}">{{ page.bottle_date | readableDate }}</time></a>
    </small>
  </p>
  {%- endif -%}
  {%- if ready_date -%}
  <p>
    <small>
      <strong>Ready date:</strong> <time datetime="{{ page.ready_date | machineDate }}">{{ page.ready_date | readableDate }}</time></a>
    </small>
  </p>
  {%- endif -%}

  <hr>

  {% if tags %}
    <p>
    <strong>Beer Style:</strong>
    {% for tag in tags %}
      {%- if tag != "recipes" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

  {{ layoutContent | safe }}

</article>

<nav>
  <a href="{{ '/' | url }}">← Home</a>
</nav>
